@import "bootstrap";

.memos{
  list-style: none;
  margin: 10px 0 0 0;
}

.memo_date {
  text-align: right;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

hr {
  margin: 5px 0;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 0px;
}

.memo {
  background-color: WhiteSmoke;
    margin: 10px;
    padding: 20px;
}