@import "bootstrap";

body{
  background-image: url(/images/background/nuno1.png);
}

.memos{
  list-style: none;
  margin: 10px 0 0 0;
}

.memo_date {
  text-align: right;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

hr {
  margin: 5px 0;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 0px;
}

.body {
  background-image: url(/images/background/looseleaf_body.png);
  background-repeat: y;
  background-size: contain;
  padding-left: 60px;
  padding-top: 1px;
}

.title{
  height: 73px;
  background-image: url(/images/background/looseleaf_title.png);
  background-repeat: no-repeat;
  background-size: cover; 
  padding-top: 3px;
  padding-left: 66px;
  margin-top: 35px;
}

.create_memo{
  text-align: center;
}

